#edit-layer{
    position: absolute;
}

#edit-tracking-layer{
    position: absolute;
    height: 100%;
    width: 100%
}


#edit-tracker{
    background-color: var(--accent-800-alpha);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 213;
}


.edit-water{
    z-index: 14;
    position: absolute;
    background-color: var(--water);
}

.edit-brush{
    z-index: 15;
    position: absolute;
    background-color: var(--brush);
}

.edit-street{
    z-index: 16;
    position: absolute;
    background-image: url('../../../../../assets/feature-icons/street-icon.svg');
    background-size: contain;
    border-radius: 9px;
}

.edit-handle{
    z-index: 500;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid var(--light-400);
    transition: 0.1s border ease-in-out;
}

/* #edit-layer > .edit-street{
    z-index:211;
} */

.edit-handle:hover{
    background-color: var(--accent-800-alpha);
    border: 4px solid var(--error);
}
