#edit-layer{
    position: absolute;
}


#edit-tracker{
    background-color: var(--accent-800-alpha);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 13;
}


.edit-water{
    z-index: 14;
    position: absolute;
    background-color: var(--water);
}

.edit-brush{
    z-index: 15;
    position: absolute;
    background-color: var(--brush);
}

.edit-street{
    z-index: 16;
    position: absolute;
    background-image: url('../../../../../assets/feature-icons/street-icon.svg');
    background-size: contain;
    border-radius: 9px;
}
