#edit-layer{
    position: absolute;
}

#edit-tracking-layer{
    position: absolute;
    height: 100%;
    width: 100%
}


#edit-tracker{
    background-color: var(--accent-400);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 213;
}


.edit-water,
.handle-7{
    z-index: 14;
    position: absolute;
    background-color: var(--water);
    border: 3px solid var(--water-200)
}

.handle-7{
    z-index: 15;
}

.edit-brush,
.handle-6{
    z-index: 16;
    position: absolute;
    background-color: var(--brush);
    border: 3px solid var(--brush-200);
}

.handle-6{
    z-index: 17;
}

.handle-6:hover{
    background-color: var(--brush-200);
}

.edit-street,
.handle-5{
    z-index: 17;
    position: absolute;
    background-color: var(--main-800);
    border: 3px solid var(--main-400);
}

.handle-5{
    z-index: 18;
}

.handle-5:hover{
    background-color: var(--main-400);
}

.edit-street{
    z-index: 18;
    position: absolute;
    background-image: url('../../../../../assets/feature-icons/street-icon.svg');
    background-size: contain;
    border-radius: 9px;
}

.handle-1,
.handle-2{
    z-index: 19;
    position: absolute;
    height: 36px !important;
    width: 36px !important;
    border-radius: 50%;
}

.edit-handle{
    /* z-index: 17; */
    position: absolute;
}

.handle-1{
    background-image: url('../../../../../assets/control-icons/house.svg');
}

.handle-2{
    background-image: url('../../../../../assets/control-icons/coffee-shop.svg');
}

/* #edit-layer > .edit-street{
    z-index:211;
} */
