@import url("./utils.css");

:root{
    --title-font: embryo-open,sans-serif;
    --title-weight: 400;
    --body-font: circe-slab-b,serif;
    --body-weight: 500;
    --main-800: #695948;
    --main-400: #7f6d5d;
    --accent-800: #B79B78;
    --accent-800-alpha:rgba(182, 155, 120, 0.7);
    --accent-400: #e2d8c9;
    --light-400: #f1ebe3;
    --light-200: #f4f1ee;
    --white: #FFFFFF;

    --body-normal: 24px;
    --body-small: 16px;
    --h1-size: 108px;
    --h2-size: 96px;
    --h3-size: 48px;
    --h4-size: 32px;
    --h5-size: 18px;



}

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    text-decoration: none;
}

body{
    background-color: var(--light-400);
    color: var(--main-800);
    overflow: clip;
}

h1, h2{
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    text-transform: uppercase;
    margin-bottom: -25px;
}

h3, h4, h5, h6{
    font-family: var(--body-font);
    font-family: var(--title-weight);
}


h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

button {
    border: 0;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
}

textarea{
    resize: none;
    text-align: center;
    width: 100%
}

a{
    color: inherit
}

* {
    scrollbar-width: 5px;
    scrollbar-color: var(--main-400) transparent;
    scroll-behavior: smooth;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
    margin: 15px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--main-800);
    border-radius: 30px;
  }



.link-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

/* .menu-button{
    width: fit-content;
    text-align: center;
    background-color: var(--main-800);
    color: var(--light-200);
    font-size: var(--body-normal);
    margin: 5px 0px;
    padding: 4px 20px;
    height: 40px;
    border-radius: 20px;
    text-transform: lowercase;
    transition: 0.2s all ease-in-out;
} */

/* .menu-button:hover{
    background-color: var(--main-400);
} */


/* background color changes */
#light__background {
    position: fixed;
    width: 110vw;
    height: 110vh;
    background-color: var(--light-800);
    z-index: -5;
}


#medium__background {
    position: fixed;
    width: 110vw;
    height: 110vh;
    background-color: var(--accent-800);
    z-index: -5;
}

#dark__background {
    position: fixed;
    width: 110vw;
    height: 110vh;
    background-color: var(--main-800);
    z-index: -5;
}



.error__404 {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    text-align: center;
}

.error__404 a {
    color: var(--accent-color-4);
    font-weight: var(--medium-weight);
    background-image: linear-gradient(var(--accent-color-4), var(--accent-color-4));
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
