.maps-list{
    width: 625px;
    max-height: 370px;
    padding: 0px 10px 0px 0px;
    margin-top: 40px;
    margin-right: -15px;
    overflow-y: scroll;
    position: relative;
}

/* .fake-div{
    height: 200px;
    margin-bottom: -250px;
} */


.maps-list > * {
    position: relative;
    /* top: -40px; */
}
