.maps-list{
    width: 625px;
    max-height: 370px;
    padding-top: -20px;
    margin-top: 40px;
    overflow-y: scroll;
    position: relative;
}


.maps-list > * {
    position: relative;
    /* top: -40px; */
}


