.map-card{
    width: 95%;
    margin: 25px 0px;
    background-color: var(--light-400);
    border-radius: 35px;
    padding: 15px 30px;
    transition: 0.2s all ease-in-out;
}

.map-info h5{
    color: var(--main-400);
    font-size: 16px;
}

.map-card:hover,
.map-card:hover h5{
    background-color: var(--light-200);
    color: var(--main-400);
}

.map-card > a{
    width: 100%
}

.map-left-info{
    display: flex;
    flex-direction: column;
}

.map-info{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
