.node{
    height: 18px;
    width: 18px;
    /* border: 1px solid var(--accent-800); */
    background-color: var(--accent-400);

}



.node:hover{
    background-color: var(--main-400);
}

.node[is-water="true"]{
    background-image: url('../../../../assets/feature-icons/water-icon.svg')
}

.node[is-brush="true"]{
    background-image: url('../../../../assets/feature-icons/brush-icon.svg')
}


.node[is-start="true"]{
    background-color: red;
    background-image: url('../../../../assets/feature-icons/house-icon.svg');
    background-size: cover;
}


.node[is-finish="true"]{
    background-color: red;
    background-image: url('../../../../assets/feature-icons/shop-icon.svg');
    background-size: cover;
}

.visited{
    background-color: var(--light-200);
}

.visited.path{
    background-color: var(--main-400);
}

/* .visited.path{
    background-color: blanchedalmond;
} */
