.node{
    height: 18px;
    width: 18px;
    border: 1px solid var(--light-200);
    background-color: var(--accent-400);
}

.node:hover{
    background-color: var(--main-400);
}

/*
.node[is-start="true"]{
    background-color: green;
}

.node[is-finish="true"]{
    background-color: red;
} */
