.node{
    /* height: 18px;
    width: 18px;
    */
    /* border: 1px solid var(--accent-800); */
    background-color: var(--accent-400);

}



.node:hover{
    background-color: var(--main-400);
}

.node[is-water="true"]{
    background-image: url('../../../../assets/feature-icons/water-icon.svg')
}

.node[is-brush="true"]{
    background-color: var(--brush)
}


.node[is-street="true"]{
    background-color: purple
}


.node[is-start="true"]{
    background-image: url('../../../../assets/feature-icons/house-icon.svg');
    background-size: cover;
}


.node[is-finish="true"]{
    background-image: url('../../../../assets/feature-icons/shop-icon.svg');
    background-size: cover;
}

/* .visited{
    background-color: var(--light-200);
} */


.visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visited.node[is-brush="true"]{
  animation-name: visitedBrush;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

  @keyframes visitedAnimation {
    0% {
      transform: scale(1);
      background-color: var(--light-200);
    }

    5% {
      transform: scale(1);
      background-color: var(--light-400);
    }

      10% {
      transform: scale(1);
      background-color: var(--accent-400);
    }

      20% {
      transform: scale(1);
      background-color: var(--accent-800);
    }

      50% {
      transform: scale(1);
      background-color: var(--accent-400);
    }
  }


  @keyframes visitedBrush {
    0% {
      transform: scale(1);
      background-color: var(--brush-200);
    }

    5% {
      transform: scale(1);
      background-color: var(--brush-200);
    }

      10% {
      transform: scale(1);
      background-color: var(--brush);
    }

      20% {
      transform: scale(1);
      background-color: var(--brush-800);
    }

      50% {
      transform: scale(1);
      background-color: var(--brush);
    }
  }


  .visited.path{
    background-color: var(--main-400) !important;
}


/* .visited.path{
    background-color: blanchedalmond;
} */
