
.control-panel{
    height: fit-content;
    width:100%;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--accent-400);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.active-feature-true{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 5px solid var(--error);
    filter: drop-shadow(0 0 4px var(--light-400));
}

.feature-container{
    display: flex;
    padding: 5px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin:25px 0px 15px;
}

.feature-row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px;
}

.feature-type{
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-name{
    color: var(--main-800);
    font-size: 14px;
    margin-top: 4px;
    width: fit-content;
    text-align: center;
}

.feature-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 2px;
    position: relative;
    background-size: contain;
    transition: 0.2s all ease-in-out;
}

.feature-icon:hover{
    /* filter: drop-shadow(0 0 12px var(--light-400)); */
    transform: scale(1.02);
    cursor: pointer;
}

.feature-icon.highway{
    background-image: url('../../../assets/feature-icons/highway-icon.svg');
}

.feature-icon.street{
    background-image: url('../../../assets/control-icons/street.svg');
}
.feature-icon.street > .active-feature-true{
    border: 5px solid var(--main-400);
    filter: drop-shadow(0 0 1px var(--main-400));
}

.feature-icon.brush{
    background-image: url('../../../assets/control-icons/brush.svg');
}
.feature-icon.brush> .active-feature-true{
    border: 5px solid var(--brush);
    filter: drop-shadow(0 0 1px var(--brush));
}


.feature-icon.water{
    background-image: url('../../../assets/control-icons/water.svg');
}
.feature-icon.water> .active-feature-true{
    border: 5px solid var(--water);
    filter: drop-shadow(0 0 1px var(--water));
}


.feature-icon.home{
    background-image: url('../../../assets/control-icons/house.svg');
}
.feature-icon.home> .active-feature-true{
    border: 5px solid var(--accent-800);
    filter: drop-shadow(0 0 1px var(--accent-800));
}

.feature-icon.shop{
    background-image: url('../../../assets/control-icons/coffee-shop.svg');
}
.feature-icon.shop> .active-feature-true{
    border: 5px solid var(--main-800);
    filter: drop-shadow(0 0 1px var(--main-800));
}

.feature-icon.editFeatures{
    background-image: url('../../../assets/control-icons/edit.svg');
}
.feature-icon.editFeatures > .active-feature-true{
    border: 5px solid var(--light-200);
    filter: drop-shadow(0 0 1px var(--light-200));
}


.feature-icon.deleteFeatures{
    background-image: url('../../../assets/control-icons/delete.svg');
}
.feature-icon.deleteFeatures > .active-feature-true{
    border: 5px solid var(--error);
    filter: drop-shadow(0 0 1px var(--error));
}


.cursor-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px 25px;
}





.cursor:hover{
    background-color: var(--main-400);
    /* filter: drop-shadow(0 0 12px var(--light-400)); */
    transform: scale(1.02);
    cursor: pointer;
}

.cursor > span{
    text-align: center;
}
