.splash-modal-overlay{
    position: fixed;
    background-color: rgba(241, 235, 227, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.splash-modal-body{
    background-color: var(--accent-400);
    border-radius: 30px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5.errors{
    padding-left: 15px;
}


.action-container > form{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.close-button{
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 5px solid var(--main-800);
    text-align: center;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: var(--main-800);
    color: var(--accent-400);
    background-image: url('../../../assets/close-button.svg');
    transition: 0.2s all ease-in-out;
}

.close-button:hover{
    cursor: pointer;
    background-color: var(--main-400);
    border: 5px solid var(--main-400);
}

.modal-input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

.modal-label{
    font-size: var(--h5-size);
    color: var(--main-400);
    font-weight: 700;
    margin-bottom: 5px;
    display: none;
}

.modal-button.modal-submit{
    width: 100%;
    height: 40px;
    margin-top: 5px;
}


.modal-input{
    border-radius: 20px;
    height: 40px;
    border: 0px;
    background-color: var(--light-400);
    color: var(--main-800);
    font-size: var(--h5-size);
    font-weight: 700;
    padding: 15px;
}

.modal-input::placeholder{
    font-weight: 700;
    color: var(--main-400);
}
