#delete-layer{
    position: absolute;
}

#delete-tracking-layer{
    position: absolute;
    height: 100%;
    width: 100%
}


#delete-tracker{
    /* background-color: var(--accent-400); */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 213;
}

.delete-water,
.delete-brush,
.delete-highway,
.delete-street,
.delete-start,
.delete-handle{
    opacity: 0.1;
    position: absolute;
    background-color: var(--error);
    transition: 0.2s opacity ease-in-out;
}

.delete-water:hover,
.delete-handle:hover,
.delete-highway:hover,
.delete-brush:hover,
.delete-street:hover{
    opacity: 30%;
}



.delete-water,
.delete-handle.handle-7{
    z-index: 14;
}

.delete-handle.handle-7{
    z-index: 15;
}

.delete-brush,
.delete-handle.handle-6{
    z-index: 16;
}

.delete-handle.handle-6{
    z-index: 17;
}

.delete-street,
.delete-handle.handle-5{
    z-index: 17;
}

.delete-handle.handle-5{
    z-index: 18;
}


.delete-street{
    z-index: 18;
}




/* #delete-layer > .delete-street{
    z-index:211;
} */
