#draw-layer{
    position: absolute;
    z-index: 6;
}


#click-tracker{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 5;
}


.fake-water{
    z-index: 4;
    position: absolute;
    background-color: var(--water);
}
.fake-brush{
    z-index: 4;
    position: absolute;
    background-color: var(--brush);
}
