.header-area,
.build-area,
.info-area{
    margin: 30px 0px;
    display: flex;
}

.header-area{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -30px;
}



.title-area{
    position: relative;
}

.button-area,
.button-area > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-area{
    margin-bottom: 15px;
}

.button-area button,
.clear-features button
{
    background-color: var(--main-800);
    font-size: var(--h5-size);
    color: var(--accent-400);
    height: 40px;
    width: 200px;
    max-width: 100%;
    text-align: center;
    border-radius: 30px;
    margin: 5px;
}

.name-input,
.name-input::placeholder,
.name-input:disabled,
.border-only{
    position: relative;
    font-size: var(--h2-size);
    color: var(--main-800);
    background-color: transparent;
}


.name-input::placeholder{
    color: var(--main-400)''
}

.name-input::placeholder,
.name-input:disabled{
    margin: 0;
    padding: 0;
    border: 0;
    top: 0px;
    left: 0px;
}

.name-input{
    color: var(--accent-400);
    background-image: linear-gradient(var(--accent-800-alpha), var(--accent-800-alpha));
    margin: calc(-100vh) calc(-100vw);
    padding: calc(100vh) calc(100vw);
    position: relative;
    z-index: 3;
    border: 0px;
}

.name-input ~ .border-only{

    position: absolute;
    z-index: 2;
    left: 0px;
}

.edit-name{
    position: absolute;
    z-index: 4;
    top: 0;
    right: calc(80px);
    height: 30px;
    width: 30px;
}

.edit-icon{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/edit-icon.svg');
}

.submit-icon{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/submit-icon.svg');
}




.instructions{
    width: 80%;
    color: var(--light-400);
    font-size: var(--h5-size);
    padding-right: 30px;
}

.visualize-button{
    width: 20%;
    height: 80px;
    background-color: var(--main-800);
    border-radius: 40px;
    text-align: center;
    font-size: var(--h4-size);
    color: var(--accent-400);
}
