.header-area,
.build-area,
.info-area{
    margin: 30px 0px;
    display: flex;
}



.header-area{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -30px;
}

.build-left{
    margin-right: 15px;
    width: 275px;
}

.build-right{
    width: 1265px;
}

.title-area{
    position: relative;
    width: 100%;
}


.nav-buttons,
.nav-buttons > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons{
    flex-direction: column;
    height: 100%;
    margin-right: -5px;
}

.nav-buttons button,
.nav-buttons a,
.control-buttons button{
    background-color: var(--main-800);
    font-size: var(--h5-size);
    color: var(--accent-400);
    height: 40px;
    max-width: 100%;
    text-align: center;
    border-radius: 30px;
    margin: 4px 4px;
    transition: 0.2s all ease-in-out;
    font-weight: 400;

}

.nav-buttons button:hover,
.nav-buttons a:hover,
.control-buttons button:hover{
    background-color: var(--main-400);
}

.control-buttons button{
    width: 100%;
}



.nav-buttons button,
.nav-buttons a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.nav-buttons a.linkedin{
    width: 410px;
}

.name-input,
.name-input::placeholder,
.name-input:disabled,
.border-only{
    position: relative;
    border-radius: 15px;
    font-size: var(--h4-size);
    font-weight: 700;
    color: var(--main-800);
    background-color: transparent;
    margin-top: 8px;
    border: 0;
    padding-top: 5px;
    overflow: hidden;
    /* z-index: 1; */
}

.name-input::placeholder{
    color: var(--main-400)
}

.name-input::placeholder,
.name-input:disabled{
    background-image: linear-gradient(var(---400-alpha), var(--accent-400-alpha));
}

.name-input{
    color: var(--main-400);
    background-image: linear-gradient(var(--light-400), var(--light-400));
}


.edit-name{
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

.edit-icon{
    height: 90%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/edit-icon.svg');
}

.submit-icon{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/submit-icon.svg');
}




.instructions{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    height: fit-content;
    width:100%;
    padding: 5px 0px 0px 5px;
    border-radius: 15px;
    /* background-color: var(--accent-400); */
    display: flex;
    justify-content: space-between;
}

.info-block{
    margin: 0px 15px 0px 5px;
    line-height: 22px;
}
